---
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import { Icon } from 'astro-icon/components'
import '../assets/style.css'

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#f8fafc" />
        <meta name="color-scheme" content="light" />
        <title>{frontmatter.title}</title>
        <meta
            name="keywords"
            content="Product designer,Cambodia,Remote designer,Freelance design,Graphic design,Digital illustration,Creative solutions,Branding,Advertising,User experience design,User interface design,Logo design,Web design,Social media graphics,Product sketches"
        />
        <meta name="author" content="Vannrith" />
        <meta name="description" content={frontmatter.description} />
        <meta property="twitter:title" content={frontmatter.title} />
        <meta property="og:title" content={frontmatter.title} />
        <meta name="description" content={frontmatter.description} />
        <meta property="og:description" content={frontmatter.description} />
        <meta
            property="twitter:description"
            content={frontmatter.description}
        />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://vannrith.com" />
        <meta property="og:image" content="/feature.jpg" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://vannrith.com" />
        <meta property="twitter:image" content="/feature.jpg" />
        <script
            src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"
        ></script>
    </head>
    <body
        class="page-bg min-h-screen"
        x-data="{ isSticky: false }"
        @scroll.window="isSticky = (window.scrollY > 133)">
        <Header />
        <div
            class="w-full border-b border-slate-200 mb-6 sticky top-0"
            :class="isSticky ? 'page-bg backdrop-blur-md' : 'bg-transparent'">
            <div class="container lg:w-1/2 2xl:w-1/3 mx-auto">
                <a
                    href="/#project"
                    class="text-sm px-4 md:px-16 font-sans font-medium tracking-tight no-underline inline-flex items-center gap-4 w-full py-6"
                    :class="isSticky ? 'text-stone-500' : 'text-indigo-800'">
                    <Icon name="uim:corner-up-left" />
                    Go back
                </a>
            </div>
        </div>

        <div class="project-content">
            <h1 class="project-name">
                {frontmatter.title}
            </h1>
            <div class="project-detail-wrapper">
                <span class="project-detail">
                    <Icon name="uim:user-nurse" />
                    By Vannrith V.
                </span>
                <span class="project-detail">
                    <Icon name="uim:rocket" />
                    {frontmatter.status}
                </span>
                <span class="project-detail">
                    <Icon name="uim:clock" />
                    {frontmatter.duration}
                </span>
            </div>

            <slot />
        </div>

        <Footer />
    </body>
</html>
